<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기초 교육과 심화 교육</title>
    <link rel="stylesheet" href="/HosDeepKio/hospitalKiosk.css">
</head>
<body>
    <div class="hospital-container">
        <header>
            <div class="head-button">
                <button id="head_learn_bt">◀ 이전으로</button>
                <button id="headImgBtn"><img src="/pic/학습저장별.png" alt="" id="headImg"></button>
                <button id="head_first_bt">처음으로 ▶</button>
            </div>
            <h1>손주들</h1>
            <h2>음식점 키오스크 교육</h2>
            <h3>진행하고 싶은 체험을 아래에서 선택해주세요</h3>
        </header>
        <div class="options">
            <div class="option" id="macBasicKiosk">
                <img src="/pic/kiosk.png" alt="">
                <p>기초 교육</p>
            </div>
            <div class="option" id="macDeepKiosk">
                <img src="/pic/question1.png" alt="">
                <p>심화 교육</p>
            </div>
        </div>
        <footer>
            <p>디지털 소외계층을 위한 키오스크 교육 플랫폼</p>
        </footer>
    </div>
    <script>
        // 이전페이지 버튼
        const head_learn_bt = document.getElementById('head_learn_bt');
        head_learn_bt.addEventListener('click', () => {
            location.href = '/study';
        });

        const macBasicKiosk = document.getElementById('macBasicKiosk');
        macBasicKiosk.addEventListener('click', () => {
            location.href = '/macBasicKioMain';
        });

        const macDeepKiosk = document.getElementById('macDeepKiosk');
        macDeepKiosk.addEventListener('click', () => {
            location.href = '/macDeepKioMain';
        });

        document.getElementById('headImgBtn').addEventListener('click', () => {
            fetch('/kiosk/save-page-info', { // 수정된 경로
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include' // 세션 쿠키를 서버에 포함
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('페이지 정보가 저장되었습니다.');
                } else {
                    alert(data.message); // 로그인하지 않은 경우의 메시지
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
