<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Page</title>
</head>
<body>
    <h1>Hello from Express!</h1>
    <button id="sendDataButton">Send Data to Flask</button>
    <!-- 1. 미션 안내모달 -->
    <div id="selectSetInfo" class="missionModal" style="display: none;">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p>버거는 <strong>1955버거</strong>를 선택해주시고,<br>
                사이드는 <strong>후렌치 후라이</strong>를 선택,<br>
                음료는 <strong>코카콜라</strong>를 선택하시고<br>
                <strong>주문하기 </strong>버튼을 눌러주세요.<br></p></div>
            <button id="selectSetInfoBtn">확인</button>
        </div>
    </div>

    <!-- 3. 세트선택 안내모달 -->
    <div id="selectSetModal" class="missionModal" style="display: none;">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>세트선택</strong>을 선택해주세요.</p></div>
            <button id="selectSetModalBtn">확인</button>
        </div>
    </div>

    <!-- 4. 사이드 선택 안내모달 -->
    <div id="selectSideModal" class="missionModal" style="display: none;">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>후렌치 후라이</strong>를 선택해주세요.</p></div>
            <button id="selectSideModalBtn">확인</button>
        </div>
    </div>

    <!-- 5. 음료 선택 안내모달 -->
    <div id="selectBeverageModal" class="missionModal" style="display: none;">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>코카콜라</strong>를 선택해주세요.</p></div>
            <button id="selectBeverageModalBtn">확인</button>
        </div>
    </div>

    <!-- 6. 장바구니에 추가 안내모달 -->
    <div id="selectCartModal" class="missionModal" style="display: none;">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>장바구니에 추가</strong>를 선택해주세요.</p></div>
            <button id="selectCartModalBtn">확인</button>
        </div>
    </div>

    <!-- 7. 주문완료 안내모달 -->
    <div id="selectpaymentModal" class="missionModal" style="display: none;">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>주문하기</strong>버튼을 눌러주세요.</p></div>
            <button id="selectpaymentModalBtn">확인</button>
        </div>
    </div>

    <!-- 8. 결제하기 안내모달 -->
    <div id="selectEndModal" class="missionModal" style="display: none;">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer"><p><strong>결제하기</strong>버튼을 눌러주세요.</p></div>
            <button id="selectEndModalBtn">확인</button>
        </div>
    </div>

    <!-- 9. 실습 종료 안내모달 -->
    <div id="selectorderNumModal" class="missionModal" style="display: none;">
        <div class="missionModalContent">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <div class="pContainer">
                <p>주문번호는 <span id="orderNumber">0</span>번 입니다.</p>
                <p>주문번호를 확인하시고 음식을 가져가주세요.</p>
            </div>
            <button id="selectorderNumModalBtn">실습 종료</button>
        </div>
    </div>

    <script>
        document.getElementById('sendDataButton').addEventListener('click', () => {
            const list = [];

            document.querySelectorAll('.pContainer').forEach(item =>{
                list.push({text : item.textContent})
            })

            fetch('/send-flask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(list),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const pCon = document.querySelectorAll('.pContainer p');
                data.forEach((item, index) => {
                    console.log(item);
                    pCon[index].innerText = item;
                })
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
