<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>
    <link rel="stylesheet" href="/help.css">

</head>

<body>
    <div class="container">
        <div class="top-menu">
            <div class="left">
                <button onclick="location.href='#home'" class="buttonhome">홈으로</button>
            </div>
        </div>

        <div id="home" class="content">
            <img src="/pic/Group 22.png" alt="logo" class="logo">
            <h1>무엇을 도와드릴까요?</h1>
            <p>화면을 클릭하거나 하단으로 내려보세요</p>
        </div>

        <div class="tags">
            <a class="tag" href="#usage">화면사용</a>
            <a class="tag" href="#signup">회원가입</a>
            <a class="tag" href="#login">로그인</a>
        </div>

        <div class="tags">
            <a class="tag" href="#bookmark">학습진도저장</a>
            <a class="tag" href="#kiosk">키오스크체험</a>
            <a class="tag" href="#game">낱말게임</a>
        </div>

        <div class="sections">
            <div id="usage" class="section">
                <img src="pic/help/kiosk_education.png" alt="kiosk_education" class="icon">
                <h2>화면사용방법</h2>
                <img src="pic/help/700x900.png" alt="화면사용방법" >
            </div>
            <div id="signup" class="section">
                <img src="pic/help/user.png" alt="user" class="icon">
                <h2>회원가입</h2>
            </div>

            <div class="img">
                <img src="pic/help/회원가입.gif" alt="회원가입" class="회원가입">
                <img src="pic/help/회원가입1.gif" alt="회원가입1" class="회원가입">
                <img src="pic/help/회원가입2.gif" alt="회원가입2" class="회원가입">
                <h3>화면 사용 방법</h3>
            </div>
        </div>

            <div id="login" class="section">
                <img src="pic/help/login.png" alt="login" class="icon">
                <h2>로그인</h2>
                <img src="login" alt="로그인">
            </div>
            <div id="bookmark" class="section">
                <img src="pic/help/kiosk_education.png" alt="kiosk_education" class="icon">
                <h2>학습진도저장</h2>
                <img src="학습진도저장" alt="학습진도저장">
            </div>
            <div id="kiosk" class="section">
                <img src="pic/help/learning.png" alt="learning" class="icon">
                <h2>키오스크체험</h2>
                <img src="learning" alt="키오스크체험">
            </div>
            <div id="game" class="section">
                <img src="pic/help/game.png" alt="game" class="icon">
                <h2>낱말게임</h2>
                <img src="game" alt="낱말게임">
            </div>
        </div>
    </div>
</body>

</html>