<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디지털배움터</title>
    <link rel="stylesheet" href="/hospitalKioskB1.css">
</head>
<body>
    <audio src="/voice/hpjeopsoo.mp3" autoplay>이 오디오는 실행할 수 없습니다.</audio>
    <div class="hospitalContainer">
        <header>
            <div class="headButton">
                <button id="headLearnBt">◀ 이전으로</button>
                <button id="headLearnBtRight">처음으로</button>
                <button id="headImgBtn"><img src="/pic/학습저장별.png" alt="" id="headImg"></button>
            </div>
            <h1>손주병원</h1>
        </header>
        <div class="options">
            <div class="option">
                <div id="optionLeft">
                    <button class="optionButton">
                        <img src="/pic/kiosk.png" alt="">
                        <p>접수하기</p>
                    </button>
                </div>
                <div class="optionRight">
                    <button class="optionButton">
                        <img src="/pic/question.png" alt="">
                        <p>수납하기</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="captionContainer">
            <div class="captionBox">
                먼저 진료 접수를 진행하기<br> 위해
                <span class="buttonText">[접수하기]</span><br> 버튼을 눌러주세요.
            </div>
        </div>
    </div>
    <script>
        const optionLeft = document.getElementById('optionLeft')
        optionLeft.addEventListener('click', ()=>{
            location.href='/hospitalB2'
        })

        const headLearnBt = document.getElementById('headLearnBt')
        headLearnBt.addEventListener('click', ()=>{
            location.href='/hospital'
        })

        const headLearnBtRight = document.getElementById('headLearnBtRight')
        headLearnBtRight.addEventListener('click', ()=>{
            location.href='/hospital'})
    </script>
</body>
</html>