<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>접수하기 2</title>
    <link rel="stylesheet" href="/HosDeepKio/hospitalKiosk5.css">
</head>
<body>
    <div class="hospital-container">
        <header>
            <div class="head-button">
                <button onclick="redirectToHospitalKiosk4()" id="head_learn_bt">◀ 이전으로</button>
                <button id="headLearnBtRight">처음으로▶</button>
            </div>
            <h1>손주병원</h1>
        </header>
        <div class="options">
            <div class="option">
                <h2>접수 내용을 확인하시고 진료실을 선택해주세요</h2>
                <button class="learn5_bt">김*들(53년생) | 남자 | 최근 진료일 | 202*. 07. 28</button>
                <h2 id="room_ch">진료실 선택</h2>
        <button class="room_bt" onclick="goToHospitalKiosk6()">
            <img src="/hospitalImg/green_c.png" alt="" class="room-icon">
            <span class="room-number">1진료실</span>  |  선영* 원장
        </button>
        <button class="room_bt" onclick="goToHospitalKiosk6()">
            <img src="/hospitalImg/green_c.png" alt="" class="room-icon">
            <span class="room-number">2진료실</span>  |  배유* 원장
        </button>
            </div>
        </div>
        <footer>
        </footer>

        <script>
            function redirectToHospitalKiosk4() {
            window.location.href = 'hospitalKiosk4.html'
        }
            function goToHospitalKiosk6() {
            window.location.href = 'hospitalKiosk6.html'
        }

        const headLearnBtRight = document.getElementById('headLearnBtRight')
        headLearnBtRight.addEventListener('click', ()=>{
            location.href='/hospital'
        })
        </script>


    </div>

</body>
</html>
