<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>접수하기(심화) 1</title>
    <link rel="stylesheet" href="/HosDeepKio/hospitalKiosk3.css">
</head>
<body>
    <div class="hospitalContainer">
        <header>
            <div class="headButton">
                <button onclick="redirectToHospitalKiosk2()" id="headLearnBt">◀ 이전으로</button>
                <button id="headLearnBtRight">처음으로▶</button>
            </div>
            <h1>손주병원</h1>
        </header>
        <div class="options">
            <div class="option">
                <div class="optionLeft">
                    <button class="optionButton" onclick="goToHospitalKiosk4()">
                        <img src="/pic/kiosk.png" alt="">
                        <p>접수하기</p>
                    </button>
                </div>
                <div class="optionRight">
                    <button class="optionButton" onclick="goTohpKiosksoonap1()">
                        <img src="/pic/question.png" alt="">
                        <p>수납하기</p>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </div>
    <script>
        function redirectToHospitalKiosk2() {
            window.location.href = 'hospitalKiosk2.html'
        }

        function goToHospitalKiosk4() {
            window.location.href = 'hospitalKiosk4.html'
        }

        function goTohpKiosksoonap1() {
            window.location.href = 'hospitalKioskSn1.html'
        }

        const headLearnBtRight = document.getElementById('headLearnBtRight')
        headLearnBtRight.addEventListener('click', ()=>{
            location.href='/hospital'
        })
    </script>

</body>
</html>