<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>접수하기와 수납하기</title>

    <title>Document</title>
    <link rel="stylesheet" href="/public/hospitalKiosk3.css">
</head>
<body>
    <div class="hospital-container">
        <header>
            <div class="head-button">
                <button onclick="redirectToHospitalKiosk2()" id="head_learn_bt">◀ 이전으로</button>
            </div>
            <h1>손주병원</h1>
        </header>
        <div class="options">
            <div class="option">
                <div class="option-left">
                    <button class="option-button" onclick="goToHospitalKiosk4()">
                        <img src="/public/pic/kiosk.png" alt="">
                        <p>접수하기</p>
                    </button>
                </div>
                <div class="option-right">
                    <button class="option-button">
                        <img src="/public/pic/question.png" alt="">
                        <p>수납하기</p>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </div>
    <script>
        function redirectToHospitalKiosk2() {
            window.location.href = 'hospitalKiosk2.html'
        }

        function goToHospitalKiosk4() {
            window.location.href = 'hospitalKiosk4.html'
        }
    </script>

</body>
</html>