<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수납하기 2</title>
    <link rel="stylesheet" href="/HosDeepKio/hpKiosksoonap2.css">
</head>
<body>
    <div class="hospital-container">
        <header>
            <div class="head-button">
                <button onclick="redirectTohpKiosksoonap1()" id="head_learn_bt">◀ 이전으로</button>
            </div>
            <h1>손주병원</h1>
        </header>
        <div class="options">
            <div class="option">
                <img src="/hospitalImg/learn_rebg.png" alt="" class="room-icon">
                <h2>결제 정보를 확인해주세요</h2>
                
                <!-- 테이블 추가 -->
                <table class="info-table">
                    <thead>
                        <tr>
                            <th>항목</th>
                            <th>정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>진료일자</td>
                            <td>202*년 9월 14일</td>
                        </tr>
                        <tr>
                            <td>결제금액</td>
                            <td>9,800원</td>
                        </tr>
                        <tr>
                            <td>처방전</td>
                            <td>출력</td>
                        </tr>
                        <tr>
                            <td>보험제출서류</td>
                            <td><button class="insurance-btn" onclick="selInsuDoc()">선택하기</button></td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- 버튼 추가 -->
                <button class="acceptance-btn" onclick="showModal()"><img src="/hospitalImg/cardimg.png">
                    결제하기
                </button>
            </div>
        </div>
        <footer>
        </footer>
    </div>
    
    <!-- 모달 추가 -->
    <div id="paymentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h1 class="modalh1">카드결제</h1>
            <p class="modalp">카드를 넣어주세요. 결제가</p>
            <p class="modalp">완료될 때까지 카드를 빼지 마세요</p>
            <p class="modalc">결제 금액 <span class="numhighlight">9,800</span>원</p>
            <img src="/hospitalImg/creditimg.png" alt="">
            <button class="modalCardInsert" onclick="togoReceipt()">카드 투입</button>
        </div>
    </div>

    <script>
        function redirectTohpKiosksoonap1() {
            window.location.href = 'hpKiosksoonap1.html'
        }

        function showModal() {
            document.getElementById('paymentModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('paymentModal').style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == document.getElementById('paymentModal')) {
                closeModal();
            }
        }

        function togoReceipt() {
            window.location.href = 'hpKiosksoonap3.html'
        }
    </script>
</body>
</html>
