<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/join" method="post">
        별명 : <input type="text" name="nick"><br>
        비밀번호 : <input type="password" name="pw"><br>
        출생연도 : <input type="text" name="btd"><br>
        성별
        남성<input type="radio" name="gen" value="male">
        여성<input type="radio" name="gen" value="female"><br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>