<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 학습노트</title>
    <link rel="stylesheet" href="/learningNote.css">
</head>
<body>
    <div class="container">
        <div>
            <img src="/pic/Group 22.png" alt="">
            <h1>나의 학습노트</h1>
        </div>
        
        
        <div class="section">
            <div class="section-title">
                <img src="./pic/병원.png" alt="1" width="50" id="img1">
                <span>병원 학습</span>
            </div>
            <div class="grid">
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
            </div>
        </div>

        <div class="section">
            <div class="section-title">
                <img src="/pic/식당.png" alt="2" width="50" id="img2">
                <span>음식점 학습</span>
            </div>
            <div class="grid">
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
                <a href="#" class="grid-item"></a>
            </div>
        </div>
    </div>
</body>
</html>
