<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <div class="container">
        <div class="images">
            <img src="/" class="grandfather">
            <img src="/public/pic/Group 20" class="grandmother">
        </div>
    <form action="/user/login/" method="POST">
        ID<input type="text" name="nick">
        PW<input type="password" name="pw">
        <input type="submit" value="로그인">
    </form>
    <a href="/join">회원가입</a>

    <script>
        function showModal(event) {
            event.preventDefault();
            const grandfather = document.querySelector('.grandfather');
            const grandmother = document.querySelector('.grandmother');
            grandfather.classList.add('move-right');
            grandmother.classList.add('move-left');
            setTimeout(() => {
                const modal = document.getElementById('loginModal');
                modal.style.display = 'flex';
            }, 1000);
        }
    </script>
</body>

</html>