<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/myPage.css">
</head>
<body>
    <div class="container">
        <div class="profile">
            <img src="/public/Image/남자.png" alt="Profile Picture">
            <div class="name">홍길동</div>
        </div>
        <div class="menu">
            
            <a href="update" class="item"><img src="/public/Image/내정보.png" alt="">내 정보 관리</a>
            <a href="stdNote" class="item"><img src="/public/Image/학습노트.png" alt="">학습노트 가기</a>
            
        </div>
    </div>
</body>
</html>