<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>123_미니게임</title>
    <link rel="stylesheet" href="/touchGame.css">
</head>
<body>
    <canvas id="canvas" width="800" height="1500"></canvas>

    <div id="gameModal" class="gameModal">
        <div class="modalContent">
            <span class="gameModalClose">&times;</span>
            <img id="modalGameImage" src=""/>
            <h3 id="modalGameText"></h3>

            <h5>여기 설명 작성하기 태그는 편하게 변경</h5>

            <div class="controls">
                <button id="prevBtn">이전</button>
                <button id="nextBtn">다음</button>
            </div>

            <div class="controls">
                <button id="resetBtn">다시하기</button>
                <button id="mainBtn">처음으로</button>
            </div>

        </div>
    </div>

    <script src="/touchGame.js"></script>
</body>
</html>