<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    <title>키오스크 체험 - 맥도날드 주문 | 손주들</title>
    <link rel="stylesheet" href="/MacBasicKio/basic.css">
    <link rel="stylesheet" href="/MacBasicKio/contents.css">

    <style>
        .kiosk_intro_inner {
            position: relative;
        }

        .popClose {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .popClose i {
            font-size: 44px;
        }

        .product-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .product-container i {
            font-size: 5rem;
            margin-bottom: 10px;
        }

        .product-details {
            text-align: center;
        }

        .product-details dt,
        .product-details dd {
            margin: -3px;
            font-size: 20px;
        }

        .dotted-border {
            border: 7px dotted red;
            animation: blinking 2s infinite;
        }

        @keyframes blinking {
            0% {
                border-color: red;
            }

            50% {
                border-color: transparent;
            }

            100% {
                border-color: red;
            }
        }

        .blinking {
            animation: blinkingBorder 2s infinite;
            border-style: dashed;
            border-width: 7px;
            width: calc(50% - 20px);
            margin: 10px;
            border-radius: 10px;
            padding: 10px;
            background-color: #fff;
            text-align: center;
        }

        #modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            align-items: center;
            justify-content: center;
        }

        .modal-content {
            background-color: #fefefe;
            padding: 30px;
            border: 1px solid #888;
            width: 450px;
            text-align: center;
            border-radius: 10px;
            font-size: 1.5em;
        }

        .modal-content p {
            margin-bottom: 30px;
        }

        .modal-content strong {
            color: #ffcc00;
        }

        .modal-content button {
            background-color: #ffcc00;
            color: black;
            border: none;
            padding: 15px 30px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 0.75em;
        }

        .modal-content button:hover {
            background-color: #ffdd33;
        }

        .modal-content img {
            width: 25%;
            height: auto;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div id="kiosk_wrap">
        <!-- ASIDE MENU -->
        <div class="aside">
            <a href="/macBasic1"><i class="ci_logo"></i></a>
            <ul class="aside_menu">
                <li class="active"><a href="/macBasic2"><i class="fa-regular fa-house"></i>홈</a></li>
                <li class="disable"><a href="#none"><i class="fa-regular fa-star"></i>추천메뉴</a></li>
                <li><a href="#none"><i class="fa-regular fa-burger"></i>버거</a></li>
                <li class="disable"><a href="#none"><i class="fa-regular fa-burger-soda"></i>해피스낵</a></li>
                <li class="active"><a href="#none"><i class="fa-regular fa-french-fries"></i>사이드</a></li>
                <li class="active"><a href="#none"><i class="fa-regular fa-mug-hot"></i>커피</a></li>
                <li class="active"><a href="#none"><i class="fa-regular fa-croissant"></i>디저트</a></li>
                <li class="active"><a href="#none"><i class="fa-regular fa-cup-straw"></i>음료</a></li>
                <li class="disable"><a href="#none"><i class="fa-regular fa-burger-soda"></i>해피밀</a></li>
            </ul>
        </div>
        <!-- //ASIDE MENU -->
        <!-- CONTENT -->
        <div class="contents">
            <div class="container active">
                <h2>맥도날드와 함께 하루종일<br>든든한 하루</h2>
                <h3>메뉴 알아보기</h3>

                <div class="scroll_box">
                    <!-- 구현되지않은 기능,추후 추가예정 -->
                    <ul class="quick_menu">
                        <li class="disable">
                            <a href="#none" class="disable">
                                <span class="text">추천메뉴</span>
                                <span class="icon"><i class="fa-solid fa-star"></i></span>
                            </a>
                        </li>
                        <li class="disable">
                            <a href="#none">
                                <span class="text">버거&세트</span>
                                <span class="icon"><i class="fa-solid fa-burger-soda"></i></span>
                            </a>
                        </li>
                        <li class="disable">
                            <a href="#none">
                                <span class="text">이달의<br>해피스낵</span>
                                <span class="icon"><i class="fa-solid fa-burger-soda"></i></span>
                            </a>
                        </li>
                        <li class="disable">
                            <a href="#none">
                                <span class="text">커피 &<br>디저트</span>
                                <span class="icon"><i class="fa-solid fa-mug-hot"></i></span>
                            </a>
                        </li>
                    </ul>
                    <!-- 구현되지않은 기능,추후 추가예정 끝 -->
                    <div class="cont_bnr">
                        <a href="#none"><img src="/MacImg/macBanner1.png" alt=""></a>
                    </div>
                    <h3>인기메뉴</h3>
                    <ul class="popular_menu">
                        <li>
                            <a href="#none" class="op_modal">
                                <span class="badge"></span>
                                <div class="product-container">
                                    <i class="ci_bur01"></i>
                                    <dl class="product-details">
                                        <dt>맥크리스피디럭스버거</dt>
                                        <dd>₩6,800</dd>
                                    </dl>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#none" class="op_modal">
                                <div class="product-container">
                                    <i class="ci_side01"></i>
                                    <dl class="product-details">
                                        <dt>후렌치 후라이(M)</dt>
                                        <dd>₩2,200</dd>
                                    </dl>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#none" class="op_modal">
                                <div class="product-container">
                                    <i class="ci_drink01"></i>
                                    <dl class="product-details">
                                        <dt>코카-콜라 제로(M)</dt>
                                        <dd>₩1,900</dd>
                                    </dl>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="payment">
                        <div class="order-summary">
                            <span><i class="ci_pay"></i><b id='order-count-hot'>0</b></span>
                            <dd class="total_amount">￦<span id='total-amount-hot'>0</span></dd>
                        </div>
                        <a href="sub04.html">주문하기</a>
                    </div>
                    </ul>
                </div>
            </div>
            <div class="container"></div>
            <div class="container bur">
                <h2>버거</h2>
                <h3>주문 즉시 바로 조리해 더욱 맛있는, 맥도날드의 다양한 버거를 소개합니다.</h3>
                <ul class="tab_menu">
                    <li class="active"><a href="#none">전체</a></li>
                    <!-- <li class="active"><a href="#none">불고기</a></li>
                        <li class="active"><a href="#none">치킨</a></li>
                        <li class="active"><a href="#none">씨푸드</a></li> -->
                </ul>
                <div class="scroll_box">
                    <div class="scroll_bar">
                        <span class="track"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="burger_menu">
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_bur01"></i>
                                <dl>
                                    <dt>맥크리스피디럭스버거</dt>
                                    <dd>₩6,800</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_bur02"></i>
                                <dl>
                                    <dt>1955버거</dt>
                                    <dd>₩6,400</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_bur03"></i>
                                <dl>
                                    <dt>진주고추크림치즈버거</dt>
                                    <dd>₩7,400</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_bur04"></i>
                                <dl>
                                    <dt>더블불고기버거</dt>
                                    <dd>₩4,500</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>

                    <div class="payment">
                        <div class="order-summary">
                            <span><i class="ci_pay"></i><b id='order-count-burger'>0</b></span>
                            <dd class="total_amount">￦<span id='total-amount-burger'>0</span></dd>
                        </div>
                        <a href="sub04.html">주문하기</a>
                    </div>
                </div>
            </div>
            <div class="container happy">
                <h2>해피스낵</h2>
                <h3>신제품과 인기제품을 만나보세요!</h3>
                <div class="scroll_box">
                    <div class="scroll_bar">
                        <span class="track"></span>
                        <span class="bar"></span>
                    </div>
                    <!-- <ul class="happy_menu">
                        </ul> -->
                </div>
            </div>
            <div class="container side">
                <h2>사이드</h2>
                <h3>가볍게 즐겨도, 버거와 함께 푸짐하게 즐겨도,
                    언제나 맛있는 사이드메뉴!</h3>
                <div class="scroll_box">
                    <div class="scroll_bar">
                        <span class="track"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="side_menu">
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_side04"></i>
                                <dl>
                                    <dt>뉴1955스낵랩</dt>
                                    <dd>₩2,900</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_side01"></i>
                                <dl>
                                    <dt>후렌치 후라이(M)</dt>
                                    <dd>₩2,200</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_side02"></i>
                                <dl>
                                    <dt>치즈스틱(2조각)</dt>
                                    <dd>₩2,800</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_side03"></i>
                                <dl>
                                    <dt>맥너겟(4조각)</dt>
                                    <dd>₩2,300</dd>
                                </dl>
                            </a>
                        </li>

                        <!-- <li>
                            <a href="#none" class="op_modal">
                                <i class="ci_side05"></i>
                                <dl>
                                    <dt>맥너겟</dt>
                                    <dd>₩3,400</dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="#none" class="op_modal">
                                <i class="ci_side06"></i>
                                <dl>
                                    <dt>오징어링</dt>
                                    <dd>₩2,800</dd>
                                </dl>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="payment">
                    <div class="order-summary">
                        <span><i class="ci_pay"></i><b id='order-count-side'>0</b></span>
                        <dd class="total_amount">￦<span id='total-amount-side'>0</span></dd>
                    </div>
                    <a href="sub04.html">주문하기</a>
                </div>
            </div>
            <div class="container coffee">
                <h2>맥카페</h2>
                <h3>언제나 즐겁게, 맥카페를 부담없이 즐기세요!</h3>
                <div class="scroll_box">
                    <div class="scroll_bar">
                        <span class="track"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="coffee_menu">
                        <li class="menu-item">
                            <a href="#none" class="op_modal">

                                <i class="ci_coffee04"></i>
                                <dl>
                                    <dt>영동 샤인 머스캣 맥피즈</dt>
                                    <dd>₩3,100</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">

                                <i class="ci_coffee03"></i>
                                <dl>
                                    <dt>아이스크림 라떼</dt>
                                    <dd>₩4,300</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_coffee01"></i>
                                <dl>
                                    <dt>아이스아메리카노</dt>
                                    <dd>₩2,600</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_coffee02"></i>
                                <dl>
                                    <dt>카페라떼</dt>
                                    <dd>₩3,300</dd>
                                </dl>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#none" class="op_modal">
                                <i class="ci_coffee05"></i>
                                <dl>
                                    <dt>카라멜 마끼아또</dt>
                                    <dd>₩3,500</dd>
                                </dl>
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="payment">
                    <div class="order-summary">
                        <span><i class="ci_pay"></i><b id='order-count-coffee'>0</b></span>
                        <dd class="total_amount">￦<span id='total-amount-coffee'>0</span></dd>
                    </div>
                    <a href="sub04.html">주문하기</a>
                </div>
            </div>
            <div class="container dessert">
                <h2>디저트</h2>
                <h3>가볍게 즐겨도, 버거와 함께 푸짐하게 즐겨도,
                    언제나 맛있는 디저트 메뉴!</h3>
                <div class="scroll_box">
                    <div class="scroll_bar">
                        <span class="track"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="dessert_menu">
                        <li class="menu-item">
                            <a href="#none" class="op_modal">

                                <i class="ci_dessert01"></i>
                                <dl>
                                    <dt>베리 스트로베리 맥플러리</dt>
                                    <dd>₩3,600</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">

                                <i class="ci_dessert02"></i>
                                <dl>
                                    <dt>스트로베리콘</dt>
                                    <dd>₩1,500</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_dessert03"></i>
                                <dl>
                                    <dt>오레오 아포가토</dt>
                                    <dd>₩3,500</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_dessert04"></i>
                                <dl>
                                    <dt>초코 선데이 아이스크림</dt>
                                    <dd>₩2,300</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="payment">
                    <div class="order-summary">
                        <span><i class="ci_pay"></i><b id='order-count-dessert'>0</b></span>
                        <dd class="total_amount">￦<span id='total-amount-dessert'>0</span></dd>
                    </div>
                    <a href="sub04.html">주문하기</a>
                </div>
            </div>
            <div class="container drink">
                <h2>음료</h2>
                <h3>언제나 즐겁게, 다양한 음료를 부담없이 즐기세요!</h3>
                <div class="scroll_box">
                    <div class="scroll_bar">
                        <span class="track"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="drink_menu">
                        <li class="menu-item">
                            <a href="#none" class="op_modal">

                                <i class="ci_drink01"></i>
                                <dl>
                                    <dt>코카-콜라 제로(M)</dt>
                                    <dd>₩1,900</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_drink02"></i>
                                <dl>
                                    <dt>코카-콜라(M)</dt>
                                    <dd>₩1,900</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_drink03"></i>
                                <dl>
                                    <dt>스프라이트(M)</dt>
                                    <dd>₩1,900</dd>
                                </dl>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#none" class="op_modal">
                                <i class="ci_drink04"></i>
                                <dl>
                                    <dt>환타(M)</dt>
                                    <dd>₩1,900</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="payment">
                    <div class="order-summary">
                        <span><i class="ci_pay"></i><b id='order-count-drink'>0</b></span>
                        <dd class="total_amount">￦<span id='total-amount-drink'>0</span></dd>
                    </div>
                    <a href="sub03.html">주문하기</a>
                </div>
            </div>
        </div>
    </div>
    <audio id="audio-intro" src="/voice/macBasic2_selBuger.mp3"></audio>
    <audio id="audio-burger" src="/voice/macBasic2_sel1955.mp3"></audio>
    <audio id="audio-side" src="/voice/macBasic2_selSide.mp3"></audio>
    <audio id="audio-fries" src="/voice/macBasic2_selFrench.mp3"></audio>
    <audio id="audio-drink" src="/voice/macBasic2_selBeverage.mp3"></audio>
    <audio id="audio-coke" src="/voice/macBasic2_selCoke.mp3"></audio>
    <audio id="audio-order" src="/voice/macBasic2_selEnd.mp3"></audio>
    <div id="modal">
        <div class="modal-content">
            <img src="/123GIF/2.gif" alt="Animated GIF">
            <p>버거는 <strong>1955버거</strong>를 선택해주시고,사이드는 <strong>후렌치 후라이</strong>를 선택, 음료는<strong>코카-콜라</strong>를 선택하시고
                <strong>주문하기</strong>버튼을 눌러주세요.<br></p>
            <button onclick="closeModal()">확인</button>
        </div>
    </div>

    <script src="/jquery-3.7.1.min.js"></script>
    <script defer type="text/javascript" src="/macBasicKiosk.js"></script>

    <script>
        let sumPrice = 0;
        let totalCount = 0;
        let audioPlaying = false;
        let modalTimeout;

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
            clearTimeout(modalTimeout);
        }

        $(document).ready(function () {
            function isMobile() {
                var userAgent = navigator.userAgent.toLowerCase();
                return userAgent.search("android") > -1;
            }

            function playAudio(id) {
                if (audioPlaying) return; // 현재 오디오가 재생 중이면 새로운 오디오 재생 방지
                audioPlaying = true;
                var audio = document.getElementById(id);
                audio.play();
                audio.onended = function () {
                    audioPlaying = false;
                };
            }

            if (isMobile()) {
                var exitBtn = '<div class="popClose"><i class="fal fa-times-circle"></i></div>';
                $(".kiosk_intro_inner, #kiosk_page, #kiosk_wrap").prepend(exitBtn);
            }

            $(document).on('click', '.popClose', function (e) {
                e.preventDefault();
                if (isMobile()) {
                    window.HybridApp.closePopup();
                }
            });
            //특정메뉴에 빨간 테두리를 전이시켜주는 함수
            function addDottedBorder(selector) {
                $(selector).addClass('dotted-border');
            }

            function removeDottedBorder(selector) {
                $(selector).removeClass('dotted-border');
            }

            function addBlinkingBorder(selector) {
                $(selector).addClass('blinking');
            }

            function removeBlinkingBorder(selector) {
                $(selector).removeClass('blinking');
            }

            // 초기 설정: 버거탭에 점선 테두리 추가
            addDottedBorder('.aside_menu li:nth-child(3) a');
            playAudio('audio-intro'); // 페이지 로드 시 초기 안내 음성 재생

            // 버거탭 클릭 이벤트
            $('.aside_menu li:nth-child(3) a').on('click', function (e) {
                e.preventDefault();
                removeDottedBorder('.aside_menu li:nth-child(3) a');
                addBlinkingBorder('.burger_menu li:nth-child(2)');
                playAudio('audio-burger'); // 버거탭 클릭 시 오디오 재생
            });

            // 1955버거 클릭 이벤트
            $('.burger_menu li:nth-child(2) a').on('click', function (e) {
                e.preventDefault();
                removeBlinkingBorder('.burger_menu li:nth-child(2)');
                addDottedBorder('.aside_menu li:nth-child(5) a');
                playAudio('audio-side'); // 1955버거 클릭 시 오디오 재생
            });

            // 후렌치 후라이 클릭 이벤트
            $('.aside_menu li:nth-child(5) a').on('click', function (e) {
                e.preventDefault();
                removeDottedBorder('.aside_menu li:nth-child(5) a');
                addBlinkingBorder('.side_menu li:nth-child(2)');
                playAudio('audio-fries'); // 후렌치 후라이 클릭 시 오디오 재생
            });

            // 사이드 메뉴 클릭 이벤트
            $('.side_menu li:nth-child(2) a').on('click', function (e) {
                e.preventDefault();
                removeBlinkingBorder('.side_menu li:nth-child(2)');
                addDottedBorder('.aside_menu li:nth-child(8) a');
                playAudio('audio-drink'); // 사이드 메뉴 클릭 시 오디오 재생
            });

            // 음료탭 클릭 이벤트
            $('.aside_menu li:nth-child(8) a').on('click', function (e) {
                e.preventDefault();
                removeDottedBorder('.aside_menu li:nth-child(8) a');
                addBlinkingBorder('.drink_menu li:nth-child(2)');
                playAudio('audio-coke'); // 음료탭 클릭 시 오디오 재생
            });

            // 코카-콜라 클릭 이벤트
            $('.drink_menu li:nth-child(2) a').on('click', function (e) {
                e.preventDefault();
                removeBlinkingBorder('.drink_menu li:nth-child(2)');
                addDottedBorder('.payment a');
                playAudio('audio-order'); // 코카-콜라 클릭 시 오디오 재생
            });

            // 장바구니에 상품 추가
            $(document).on('click', '.op_modal', function (e) {
                e.preventDefault();
                var totalAmountElement = document.getElementById('total-amount-hot');
                var totalAmountElement1 = document.getElementById('total-amount-burger');
                var totalAmountElement2 = document.getElementById('total-amount-side');
                var totalAmountElement3 = document.getElementById('total-amount-coffee');
                var totalAmountElement4 = document.getElementById('total-amount-dessert');
                var totalAmountElement5 = document.getElementById('total-amount-drink');
                var orderCountElement = document.getElementById('order-count-hot');
                var orderCountElement1 = document.getElementById('order-count-burger');
                var orderCountElement2 = document.getElementById('order-count-side');
                var orderCountElement3 = document.getElementById('order-count-coffee');
                var orderCountElement4 = document.getElementById('order-count-dessert');
                var orderCountElement5 = document.getElementById('order-count-drink');

                var item = $(this).find('dl');
                var name = item.find('dt').text();
                var price = item.find('dd').text().replace('₩', '').replace(',', '').trim();
                var quantity = 1; // 기본 수량

                var imgClass = $(this).find('i').attr("class");

                // 로컬 스토리지에 장바구니 데이터 저장
                var cart = JSON.parse(localStorage.getItem('cart')) || [];
                cart.push({ name: name, price: parseInt(price), quantity: quantity, class: imgClass });
                localStorage.setItem('cart', JSON.stringify(cart));

                // 합계 금액 및 총 수량 계산
                sumPrice = cart.reduce((acc, item) => acc + item.price * item.quantity, 0);
                totalCount = cart.reduce((acc, item) => acc + item.quantity, 0);

                // 합계 금액 및 총 수량 업데이트
                totalAmountElement.innerText = sumPrice.toLocaleString();
                totalAmountElement1.innerText = sumPrice.toLocaleString();
                totalAmountElement2.innerText = sumPrice.toLocaleString();
                totalAmountElement3.innerText = sumPrice.toLocaleString();
                totalAmountElement4.innerText = sumPrice.toLocaleString();
                totalAmountElement5.innerText = sumPrice.toLocaleString();
                orderCountElement.innerText = totalCount;
                orderCountElement1.innerText = totalCount;
                orderCountElement2.innerText = totalCount;
                orderCountElement3.innerText = totalCount;
                orderCountElement4.innerText = totalCount;
                orderCountElement5.innerText = totalCount;
            });

            // 모달창 설정: 페이지 로드 시 모달 표시 및 8초 후 자동 닫힘 설정
            document.getElementById('modal').style.display = 'flex';
            modalTimeout = setTimeout(closeModal, 8000);
        });

        window.onload = function () {
            let audio = document.getElementById('audio');
            playAudioOnce(audio); // 페이지 로드 시 한 번만 재생
            document.querySelector('a[href="sub03.html"]').classList.add('blinking-border');
        };
    </script>
</body>

</html>