body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif; 
}

.container {
    display: block;
}

#ba_learn_bt, #di_learn_bt{
    height: 250px;
    width: 180px;
    font-size: 30px;
    border-radius: 5%;
    transition: background-color 0.7s ease, transform 0.3s ease;
    border: 2px solid #4951be;
}
button:hover {
    background-color: #dae5ef; /* 버튼 호버 시 색상 변경 */
}

button:active {
    transform: translateY(4px); /* 버튼 클릭 시 약간 아래로 이동 */
}

h1{
    font-size: 40px;
}

h3{
    margin-bottom: 80px;
}