@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* 모든 요소에 폰트 적용 */
* {
    font-family: 'Freesentation-9Black', sans-serif;
    font-weight: 900;
}

/* 기본 폰트 사이즈 설정 */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* 열 방향으로 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
    /* 수평 중앙 정렬 */
    background-color: #f0f0f0;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 10px solid white;
    width: 450px;
    /* 9:16 비율을 위한 예시 너비 */
    height: 800px;
    /* 9:16 비율을 위한 예시 높이 */
    background-color: #aa6fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 60px 20px;
    /* 상단과 하단 패딩을 늘려 중앙으로 이동 */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    margin-bottom: 50px;
    /* background-color: #b4a8ff; */
}

.header::after {
    content: '';
    position: absolute;
    bottom: -20px;
    /* 곡선의 위치 조정 */
    left: 0;
    width: 100%;
    height: 40px;
    /* 곡선의 높이 조정 */
    /* background-color: #b4a8ff; */
    border-radius: 0 0 50% 50%;
    /* 곡선 효과를 위한 border-radius */
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img-wrapper {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 15px;
}

.profile-img-wrapper img {
    border-radius: 30%;
    width: 90%;
    height: 90%;
    margin-top: 5px;
    margin-left: 5px;
}

.profile-info {
    margin-top: 15px;
    text-align: center;
    margin-bottom: -50px;
}

.profile-info .name {
    padding: 7px;
    font-size: 27px;
    /* font-weight: bold; */
    margin-bottom: 5px;
    /* 이름과 환영 메시지 사이의 간격 추가 */
    background-color: white;
    border-radius: 5px;
    color: black;
}

.profile-info #nameTag {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 10px;
}

.menu #startUpdateBtn {
    background-color: #ffffff;
    color: black;
    padding: 30px 60px;
    margin: 25px 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu #startNoteBtn{
    background-color: #ffffff;
    color: black;
    padding: 30px 55px;
    margin: 25px 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu #startUpdateBtn img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    /* 아이콘과 텍스트 사이의 간격 */
}

.menu #startNoteBtn img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    /* 아이콘과 텍스트 사이의 간격 */
}

.menu #startUpdateBtn:hover {
    /* background-color: #0056b3; */
    transform: scale(1.05);
}
.menu #startNoteBtn:hover {
    /* background-color: #0056b3; */
    transform: scale(1.05);
}