@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	font-weight: 100;
	font-display: block;
	src: local('NanumSquareL'),
	url('../fonts/NanumSquareL.eot') format('eot'),
	url('../fonts/NanumSquareL.woff2') format('woff2'),
	url('../fonts/NanumSquareL.woff') format('woff');
}
@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: local('NanumSquareR'),
	url('../fonts/NanumSquareR.eot') format('eot'),
	url('../fonts/NanumSquareR.woff2') format('woff2'),
	url('../fonts/NanumSquareR.woff') format('woff');
}
@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: local('NanumSquareB'),
	url('../fonts/NanumSquareB.eot') format('eot'),
	url('../fonts/NanumSquareB.woff2') format('woff2'),
	url('../fonts/NanumSquareB.woff') format('woff');
}
@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: local('NanumSquareEB'),
	url('../fonts/NanumSquareEB.eot') format('eot'),
	url('../fonts/NanumSquareEB.woff2') format('woff2'),
	url('../fonts/NanumSquareEB.woff') format('woff');
}